
html, body {
    margin:0;
    padding:0;
    height:100%;
    width:100%;
    overflow-x:hidden;
    scroll-behavior: smooth;
}

.parallax {
    margin:0;
    padding:0;
    width: 100%;
    height:100%;
    background-image: url(https://cdn.pixabay.com/photo/2015/03/26/10/03/downtown-690826_960_720.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}


.dot {
    margin: auto;
    width: 300px;
    height: 300px;
    background-color: black;
    border-radius: 50%;   
    position: relative;
    top: -50%;
}



.dot p {
    color: white;
    text-align: center;
    vertical-align: center;
    transform: scale(3)translate(0, 100%);
}

.border {
    margin: auto;
    width: 90%;
    height: 80%;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    position: relative;
    top: 10%;
}


.nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #E8E8E8;
}

.nav a {
    display: block;
    float: left;
    text-align: center;
    padding: 10px;
}

.nav a:hover {
    background-color: #CBCAC8
}

.active {
    background-color: #B9B8B7
}

#content {
    margin: 20px;
}

#bio {
  float: left;
  padding-left: 20px;
  width: 60%
}

.title {
    margin-top: 30px;
    background-color: #E8E8E8;
    padding: 10px;
}


#side-bar {
  float: left;
  margin-left: 5%;
  margin-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #E8E8E8;
  width: 30%;
}

#greeting-container {
    margin-top: 10px;
    margin-left: 20px;
}

#contact {
    margin-top: 400px;
}

#proj {
    margin: 20px;
    margin-top: 50px;
}

#github {
    padding: 10px;
}

#research, #course {
    margin: 10px;
}

.subheading {
    background-color: #E8E8E8;
    padding: 10px;
}

#research p, #course p {
    margin: 10px;
}

#image_content {
    margin: 20px;
    margin-top: 50px;
}

.img_section {
    margin-left: 20px;
}

.img_section::after {
    content: "";
    display: table;
    clear: both;
}

.img_section img, .img_section div {
    padding-left: 10px
}

.photo {
    float: left;
    width: 20%;
}

.photo .overlay-text {
    background-color: black;
    color: white;
    opacity: 0;
    position: relative;
    top: -25px;
}

.photo img:hover {
    opacity: 0.6;
}



.photo:hover .overlay-text {
    opacity: 1;
}


